<div class="container-big-card">
    <div class="big-card-img">
        <img 
            src="https://th.bing.com/th/id/R.072bdd950b8f6fdd6380b30bb8a85521?rik=wlp3fBlhUMtHuQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f-h96CmTgir_E%2fUaUpou65njI%2fAAAAAAAABB8%2fE2lXff2_Ioc%2fs1600%2fd2.jpg&ehk=7d3POyO09yDHT4K2dtGwvW4oZI045nRZiln4bK%2fDwgc%3d&risl=&pid=ImgRaw&r=0"
             alt="Em Construcao"
             height="400px"
            srcset="">
    </div>
    <div class="big-card-title">
            <h1><a href="#">Blog pessoal voltado para desenvolvimento Front-End.</a></h1>
    </div>
    <div class="big-card-text">
            <p>Neste Blog Postarei todos meus projetos de desenvolvedor para conhecimento e informação de terceitos.</p>
    </div>
</div>
