<div class="container-small-card">
    <div class="container-smail-card-content">
        <div class="small-card-img">
            <img 
                 src="https://th.bing.com/th/id/OIP.B1GepOD6wH9jAtUkVlUEcQAAAA?rs=1&pid=ImgDetMain"
                 alt="Em Construcao"
                 height="400px"
                 srcset="">
        </div>
        <div class="small-card-title">
            <h1><a href="#">Blog pessoal voltado para desenvolvimento Front-End.</a></h1>
        </div>
    </div>
    <div class="container-hr">
        <hr>
    </div>

</div>

