
<app-title-bar></app-title-bar>
<div class="articles">
    <div class="articles-main">
        <app-big-card 
        id="1"
        bigImage="https://t.ctcdn.com.br/IaIJrJLdnWfSuErDgrrcM_vr4so=/1024x576/smart/i655557.jpeg"
        bigTitle="Entenda por que o The New York Times processa Microsoft e OpenAI."
        bigDescription="O jornal The New York Times, dos EUA, processou judicialmente a OpenAI (criadora do ChatGPT) e a Microsoft sob a acusação de violação de direitos autorais no treinamento de modelos de IA. O veículo alega que as empresas usaram milhões de notícias publicadas sem permissão para alimentar os chatbots.."
        ></app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card
        id="2"
        smallCargImg="https://t.ctcdn.com.br/au9kO2JV2rd83uGCoz2rjjb63Ko=/1024x576/smart/i839049.jpeg"
        smallCardTitle="Review Moto G54 | Mais um celular intermediário da Motorola.">
    </app-small-card>
        <app-small-card
        id="3"
        smallCargImg="https://t.ctcdn.com.br/3jRky2aFJw1vtg0hkD-pbX6vuSA=/1024x576/smart/i761862.jpeg"
        smallCardTitle="10 novos recursos mais legais do Instagram em 2023">
    </app-small-card>
        <app-small-card
        id="4"
        smallCargImg="https://t.ctcdn.com.br/O1Q7L932YmW15m4P68t_9o3SDvQ=/1024x576/smart/i839917.jpeg"
        smallCardTitle="Robô ataca e fere engenheiro em fábrica da Tesla nos EUA.">
    </app-small-card>
    </div>
 
</div>

