<header>
<app-menu-bar></app-menu-bar>
</header>
<app-title-bar></app-title-bar>
<div class="articles">
    <div class="articles-main">
        <app-big-card 
        bigImage="https://th.bing.com/th/id/OIP.7Xk00-VmA2M3ubcGT8MEEQHaE2?w=252&h=180&c=7&r=0&o=5&pid=1.7"
        bigTitle="Aqui esta se formando um Dev. Front-End."
        bigDescription="Progejtos de estudos serão postados nesta pagina para acompanhamento de desenvolvimento pessoal."
        ></app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card
        smallCargImg="https://th.bing.com/th/id/OIP.7Xk00-VmA2M3ubcGT8MEEQHaE2?w=252&h=180&c=7&r=0&o=5&pid=1.7"
        smallCardTitle="Aqui esta se formando um Dev. Front-End.">
    </app-small-card>
        <app-small-card
        smallCargImg="https://th.bing.com/th/id/OIP.7Xk00-VmA2M3ubcGT8MEEQHaE2?w=252&h=180&c=7&r=0&o=5&pid=1.7"
        smallCardTitle="Aqui esta se formando um Dev. Front-End.">
    </app-small-card>
        <app-small-card
        smallCargImg="https://th.bing.com/th/id/OIP.7Xk00-VmA2M3ubcGT8MEEQHaE2?w=252&h=180&c=7&r=0&o=5&pid=1.7"
        smallCardTitle="Aqui esta se formando um Dev. Front-End.">
    </app-small-card>
    </div>
 
</div>

